.logo{
  width: 100%;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.login-card {
  background-color: #ffffff;
  text-align: center;
  width: 100%;
}


.login-header {
  width: 100%;
  margin-bottom: 20px;
}


.login-title {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

.login-subtitle {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #7b4cde;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
}

.btn-primary:hover {
  background-color: #6938b5;
}


.forgot-password,
.register-link {
  color: #7b4cde;
  text-decoration: none;
  font-size: 14px;
}

.forgot-password:hover,
.register-link:hover {
  text-decoration: underline;
}

.register-text {
  font-size: 14px;
  margin-top: 20px;
  color: #333;
}

