<div class="login-container">
    <div class="login-card">
      <div class="login-header">
        <img src="../../../assets/loan-image.png" alt="Bank Loan Logo" class="logo" />
      </div>
      <h1 class="login-title">Lend Hero</h1>
      <p class="login-subtitle">Gestiona tus deudas y préstamos</p>
      <form>
        <button type="button" class="btn-primary">Sign In</button>
        <a href="#" class="forgot-password">Forgot Password</a>
      </form>
      <p class="register-text">
        Do you have an account? <a href="#" class="register-link">Register</a>
      </p>
    </div>
  </div>
  